* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.header,
.hero-container,
.footer {
  background-color: #1F2937;
}

.header .logo {
  color: #f9faf8;
  font-size: 24px;
  align-items: center;
}

.header li {
  color: #E5E7EB;
  font-size: 18px;
  font-weight: 300;
}

li {
  list-style-type: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 0 120px;
}

.header-links {
  display: flex;
  align-items: center;
  gap: 24px;
}

.hero-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  gap: 20px;
}

.hero-left,
.hero-right {
  height: 220px;
  width: 450px;
}

.hero-right {
  background-color: #80838a;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #E5E7EB
}

.hero-left h2 {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
}

.hero-left p {
  font-size: 18px;
  color: #E5E7EB;
  font-weight: 300;
  margin-bottom: 12px;
}

button {
  background-color: #3882F6;
  border: none;
  padding: 6px 24px;
  border-radius: 6px;
  color: #f9faf8
}