* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.header,
.hero-container,
.footer {
  background-color: #1F2937;
}

.header .logo {
  color: #f9faf8;
  font-size: 24px;
  align-items: center;
}

.header li {
  color: #E5E7EB;
  font-size: 18px;
  font-weight: 300;
}

li {
  list-style-type: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 0 120px;
}

.header-links {
  display: flex;
  align-items: center;
  gap: 24px;
}

.hero-container,
.quote-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  gap: 20px;
}

.hero-left,
.hero-right {
  height: 220px;
  width: 450px;
}

.hero-right {
  background-color: #a5a9b1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #E5E7EB
}

.hero-left h2 {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
}

.hero-left p {
  font-size: 18px;
  color: #E5E7EB;
  font-weight: 300;
  margin-bottom: 12px;
}

button {
  background-color: #3882F6;
  border: none;
  padding: 6px 24px;
  border-radius: 6px;
  color: #f9faf8
}

.image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 36px;
  height: 400px;
  gap: 36px;
}

.image-container h2 {
  font-size: 36px;
  font-weight: 900;
  color: #1F2937
}

.images {
  display: flex;
  gap: 42px;
}

.image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 140px;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  gap: 6px;
}

.blank-image {
  height: 140px;
  width: 140px;
  border: 3px solid #3882F6;
  border-radius: 12px;
}

.quote-container {
  background-color: #E5E7EB;
  flex-direction: column;
}

.quote,
.quote-attribution {
  width: 680px;
}

.quote {
  font-size: 36px;
  font-weight: 300;
  font-style: italic;
  color: #1F2937;
}

.quote-attribution {
  display: flex;
  justify-content: end;
  font-size: 20px;
  font-weight: 800;
  padding-right: 48px;
}

.sign-up-container {
  background-color: #3882F6;
  height: 120px;
  width: 900px;
  margin: 72px auto;
  border-radius: 6px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #f9faf8;
}

.sign-up-container button {
  border: 2px solid #f9faf8;
}